mcp-servers/homelab-gateway/n8n-workflows/05-store-secret.json
{
  "name": "[Sub] Store Secret",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VAULT_ADDR }}/v1/{{ $env.VAULT_MOUNT || 'homelab' }}/data/{{ $json.path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Vault-Token", "value": "={{ $env.VAULT_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: $json.data }) }}"
      },
      "id": "vault-write",
      "name": "Write to Vault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "={{ $('vault-write').isError ? 'failed' : 'ready' }}" },
            { "name": "component", "value": "secret" },
            { "name": "path", "value": "={{ $('Start').item.json.path }}" }
          ]
        }
      },
      "id": "result",
      "name": "Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Write to Vault", "type": "main", "index": 0 }]] },
    "Write to Vault": { "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "blueprint-system" }, { "name": "sub-workflow" }]
}