mcp-servers/homelab-gateway/n8n-workflows/06-register-in-graph.json
{
  "name": "[Sub] Register in Graph",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MCP_GATEWAY_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 1, method: 'tools/call', params: { name: 'graph_call', arguments: { tool: 'create_entities', params: { entities: $json.entities } } } }) }}"
      },
      "id": "create-nodes",
      "name": "Create Graph Nodes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "has-relations", "leftValue": "={{ ($('Start').item.json.relations || []).length }}", "rightValue": "0", "operator": { "type": "number", "operation": "gt" } }
          ]
        }
      },
      "id": "has-relations",
      "name": "Has Relations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MCP_GATEWAY_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 2, method: 'tools/call', params: { name: 'graph_call', arguments: { tool: 'add_relations', params: { relations: $('Start').item.json.relations } } } }) }}"
      },
      "id": "create-relations",
      "name": "Create Relations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -60]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "status", "value": "ready" },
            { "name": "component", "value": "graph_registration" },
            { "name": "entities_count", "value": "={{ ($('Start').item.json.entities || []).length }}" },
            { "name": "relations_count", "value": "={{ ($('Start').item.json.relations || []).length }}" }
          ]
        }
      },
      "id": "result",
      "name": "Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Create Graph Nodes", "type": "main", "index": 0 }]] },
    "Create Graph Nodes": { "main": [[{ "node": "Has Relations?", "type": "main", "index": 0 }]] },
    "Has Relations?": {
      "main": [
        [{ "node": "Create Relations", "type": "main", "index": 0 }],
        [{ "node": "Return Result", "type": "main", "index": 0 }]
      ]
    },
    "Create Relations": { "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "blueprint-system" }, { "name": "sub-workflow" }]
}